<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_vet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_vet_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.GestionCitaActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activities.GestionClienteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".ui.activities.GestionMascotaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CargaActivity"
            android:exported="true">

            <!-- Aquí debe ir el intent-filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">

            <!-- También puede haber un intent-filter aquí si MainActivity es otra actividad de inicio -->
        </activity>
    </application>

</manifest>